<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{ISO8601} %logger %method%n%level: %message%n</pattern>
		</encoder>
	</appender>


	<logger level="WARN" name="org.hibernate.cfg" />


	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
	</root>
</configuration>
